@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', Courier, monospace;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px; 
    width: 320px;
    height: 499px;
}

.card__qr__code{
    padding: 16px 16px 0 16px;
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

img{
    display: block;
    width: 100%;
    border-radius: 10px;
}

.card__content{
    width: 288px;
    height: 131px;
    padding: 0 16px 40px 16px; 
    text-align: center;
}

.card__title{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    height: 52px;
    margin-bottom: 16px;
}

.card__description{
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    width: 256px;
    height: 63px;
    margin: auto;
}

.attribution , .attribution>a{
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    text-decoration: none;
    color: hsl(218, 44%, 22%);
}

.attribution > a:visited{
    color: hsl(216, 15%, 48%);
}

.attribution > a:hover{
    color: hsl(218, 44%, 22%);   
}

